@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    margin: 0 auto;
    box-sizing: border-box;
}

header
{
    width: 100%;
    height: 40px;
    border-bottom-style:solid;
    border-bottom-width: thin;
    border-bottom-color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    padding:2px 1px 2px 1px;
    margin: 10px 10px 10px 10px;
  
}
header .boot{
    width: 30%;
    float:left;
    color:white;
    padding: 10px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
header .menu{
      width: 70%;
      float: right;
      list-style: none;
      padding-left: 0%;
}
header .menu li{
    color:white;
    float: right;
    margin-left: 20px;
    padding: 10px;
    cursor: pointer;
}
header .menu li:hover
{
    background-color:white;
    color:  rgb(245, 106, 13);
}
a:link{ 
       border-radius: 20px;
       padding: 10px;
       color: black;
       font-size: 19px;
       font-family: 'Times New Roman', Times, serif;
       background-color: yellow;
    }
.btn-center {
    width: 100%;
    padding-top:20px;
    text-align: center;
    border: 1px;
    margin:12px 12px 12px 12px;
}

.btn {
   
        background-color: rgb(245, 106, 13);
        border: none;
        color: white;
        
        text-align: center;
        text-decoration: none;
        display: inline-block;
       
        cursor: pointer;
        font-weight: 600;
        font-family: sans-serif!important;
        padding: 10px 20px 10px 20px!important;
        
        
      }
     

.test{ 
        color: white; 
        text-align: center;
        text-transform: capitalize ;
        font-size: 35px;
        padding-top: 50px;
        font-family: 'Heebo', sans-serif;
        font-weight: bolder;
}
.test1{ 
         color: white; 
         text-align: center;
         text-transform: capitalize ;
         font-family: 'Roboto', sans-serif;
         font-family: 'Heebo', sans-serif;
         font-size: 35px;
         padding: inherit;
        font-weight: bolder;
}
.line
{  
     padding: 20px 20px 10px 20px;
     height:10px;
     width:80px;
     border: violet;
     font-weight: bolder;
}
.test2{
        color: white;
        text-align: center;
        text-transform: capitalize;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 12px;
         padding-top: 17px;
}


#last2{
    font-size: 17px;
}
#last3{
    padding-top :80px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Kreon', serif;
}
.last
{
text-align: center;
}
.img
{   
    background-image: url('./img2.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    height: 63%;    
}

.img .opac{
    
         background: rgba(0, 0, 0, 0.0);
         height: 100%;
         width: 100%;
    }

footer { background-color: rgb(245, 106, 13);
         position:static;
         color: white;
         text-align: center;
         padding: 0px 10px 10px 12px;
         font-size: 20px;
         font-weight: bolder;
         height: 37%;
         font-family: 'Roboto', sans-serif
}